# This is a common .travis.yml for generating library release zip files for
# CircuitPython library releases using circuitpython-build-tools.
# See https://github.com/adafruit/circuitpython-build-tools for detailed setup
# instructions.

dist: xenial
language: python
python:
  - "3.6"

cache:
  pip: true

# if deployment to PyPi is desired, change 'DEPLOY_PYPI' to "true",
env:
  - DEPLOY_PYPI="true"

deploy:
  - provider: releases
    api_key: "$GITHUB_TOKEN"
    file_glob: true
    file: "$TRAVIS_BUILD_DIR/bundles/*"
    skip_cleanup: true
    overwrite: true
    on:
      tags: true
  - provider: pypi
    user: adafruit-travis
    password:
      secure: pXQF6FuOZNQ72gjUCC+UIY+/LdSY7rCmRr60b47NUB4J8sVX6Gzpv0ApXDInuo3/vm/xhsnW4K5DrWAsjHqt2GDOhRN+0Twb67CcZ5laQLTUgCtMfhsJxpmdX2SFKa7MVW6p6XGLCkHrOKP/rV86k1+Axh/D8TKaJa4wgUY/lLlY4Yw/GDN2o70eS/vjYmbNLdnkFxys1xT3FGR1c6+CcSgHrlJfSBH1iS8XBilt+mpU6Optqw/pMzQEI2l6azg7WtUlzjCtiQrIH2fhRInYXCELbBzKP6UN5CT9p+S7oXfwPR0g8oA6FQwTuDyr3IR1jKwl38AeN2ev127hJvxGenot7Tfo45bdEwJP419mSB23UFdQegT6bBPr3IowNILDAvYV2oZ0T+tzjurwEp3jhRPk17KxUVfmISDlf54mPCp0S5s4Z6jbEvVoVaum3NmjUQEZsnJN8EEnyNmbJ3ZZHc51DLWCHMjKH3Vo9oAM27G7QUaSbHrmnD44t8Ss67kSDtE1LAQ/g0fuxjauAsoxW4OrdZ9RzxDwtwP8DFeM8RMbZTJFIFlmyvoAdVpdRUuiYMd+5VVgwvk8rtZ3UlyAwh/qREIYAcZZQ7NeoOGOvgnly3vzI6SHvdFmGQyU2vKGGXCXkwMh4SkMNQbATQaeDtjYeubbgqmq+/LLeXj2CPo=
    on:
      tags: true
      condition: $DEPLOY_PYPI = "true"

install:
  - pip install -r requirements.txt
  - pip install circuitpython-build-tools Sphinx sphinx-rtd-theme
  - pip install --force-reinstall pylint==1.9.2

script:
  - pylint sparkfun_qwiicrelay.py
  - ([[ ! -d "examples" ]] || pylint --disable=missing-docstring,invalid-name,bad-whitespace examples/*.py)
  - circuitpython-build-bundles --filename_prefix sparkfun-circuitpython-qwiicrelay --library_location .
  - cd docs && sphinx-build -E -W -b html . _build/html && cd ..
